<!doctype html>
<html lang="en">
<head>
  <title>Blogly</title>
  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  {% for msg in get_flashed_messages() %}
    <div class="alert alert-warning">{{ msg }}</div>
  {% endfor %}

<!-- Base comment for testing-->

{% block content %}
  CONTENT GOES HERE
{% endblock %}

</body>
</html>
