<!doctype html>
<html lang="en">
<head>
  <title>Currency Converter</title>
  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"></head>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<!-- Base comment for testing-->

{% block content %}
CONTENT GOES HERE
{% endblock %}

</body>
</html>
