{% extends 'base.jinja' %}
{% block content %}

<div class="container">
  <h1> Create a user </h1>
  
  <form>
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input 
        name="first_name" 
        type="text" 
        class="form-control" 
        id="firstName" 
        aria-describedby="first name field"
        placeholder='{{ user.first_name }}'>
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input 
        name="last_name" 
        type="text" 
        class="form-control" 
        id="lastName" 
        aria-describedby="last name field"
        placeholder='{{ user.last_name }}'>
    </div>
    <div class="mb-3">
      <label for="imageUrl" class="form-label">Image URL</label>
      <input 
        name="image_url" 
        type="text" 
        class="form-control" 
        id="imageUrl" 
        aria-describedby="image url field"
        placeholder='{{ user.image_url }}'>
    </div>

      <button formaction="/users/{{ user.id }}" formmethod="GET" class="btn btn-secondary">Cancel</button>  
      <button formaction="/users/{{ user.id }}/edit" formmethod="POST" class="btn btn-primary">Save</button>
      
  </form>
</div>

{% endblock %}