{% extends 'base.jinja' %}
{% block content %}

<div class="container">
  <h1> Edit post </h1>

  <form >
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        name="title"
        type="text"
        class="form-control"
        id="title"
        aria-describedby="Title"
        placeholder= "{{ post.title }}"
        >

    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <input
        name="content"
        type="text"
        class="form-control"
        id="content"
        aria-describedby="content field"
        placeholder= "{{ post.content }}"
        >
    </div>

    <button class="btn btn-secondary" formmethod="GET" formaction="/users/{{ post.user_id }}">Cancel</button>
    <button class="btn btn-primary" formmethod="POST" formaction="/posts/{{ post.id }}/edit">Edit</button>
  </form>
</div>
{% endblock %}
