{% extends 'base.jinja' %}

{% block content %}

<h1>Users</h1>

<list>
{% for user in users %}
      <li><a href="/users/{{ user.id }}">{{ user.get_full_name()}}</a></li>
{% endfor %}
</list>

<button class="btn btn-primary"> Add user </button>

{% endblock %}