{% extends 'base.jinja' %}
{% block content %}

<!-- User detail comment for testing -->
<div class="container">

  <h1>{{user.get_full_name()}}</h1>
  {% if user.image_url %}
  <img src="{{ user.image_url }}" />
  {% endif %}


  <div class="m-3">

    <form>
      <button formaction="/users/{{ user.id }}/edit" formmethod="GET" class="btn btn-primary">EDIT</button>
      <button formaction="/users/{{ user.id }}/delete" formmethod="POST" class="btn btn-danger">DELETE</button>

    </form>
  </div>
</div>

{% endblock %}