{% extends 'base.jinja' %}
{% block content %}

<!-- User detail comment for testing -->
<div class="container">

  <h1>{{user.get_full_name()}}</h1>
  {% if user.image_url %}
  <img src="{{ user.image_url }}" />
  {% endif %}


  <div class="m-3">

    <form>
      <button 
        formaction="/users/{{ user.id }}/edit" 
        formmethod="GET" 
        class="btn btn-primary">EDIT</button>
      <button formaction="/users/{{ user.id }}/delete" formmethod="POST" class="btn btn-danger">DELETE</button>

    </form>
    <div></div>
    <h3> Posts</h3>
      <ul>
        {%for post in user.posts%}
          <li>
            <a href="/posts/{{post.id}}">{{ post.title }}</a>
            <p>{{post.created_at}}</p>
            </li> 
        {% endfor %}
      </ul>
      <form method="GET">
        <button formaction="/users/{{ user.id }}/posts/new" class="btn btn-primary">Add Post</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}