{% extends 'base.jinja' %}
{% block content %}

<!-- User detail comment for testing -->
<div class="container">

<h1>{{user.get_full_name()}}</h1>
<img src="{{user.image_url}}" />

<div class="m-3">
  <button class="btn btn-primary m-3" onclick="window.location.href='/users/{{user.id}}/edit';">Edit</button>

  <form action="/users/{{user.id}}/delete" method="post">
    <input type="submit" name="delete" value="Delete" class="btn btn-danger"/>
  </form>
</div>
</div>

{% endblock %}